# jekylll
_site
.sass-cache
.jekyll-metadata

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# manual exclude
Gemfile.lock
node_modules
vendor/bundle/
vendor/cache/
vendor/gems/
vendor/ruby/