<footer class="pv4 flex items-end justify-end" id="vp-footer">
  <div class="fl w-two-thirds pa2 outline">
    <div class="flex">
      <div class="flex-column">
        <div>
          {%- include social.html -%}
        </div>
        <div class="w-100">
          <h2 id="vp-title">
            <a href="{{ "/" | relative_url }}">{{ site.vaporwave.name }}</a>
          </h2>
        </div>
        <div class="w-100">
          <p class="tagline">{{ site.vaporwave.tagline }}</p>
        </div>
      </div>
      <div class="flex">
        <a href="{{ "/" | relative_url}}">
          <img class="br-100 pa1 ba b--black-10 h3 w3" 
            src="{{site.baseurl }}/{{ site.vaporwave.profile_image }}"
            alt="{{ site.vaporwave.name }}">
        </a>
      </div>
    </div>
  </div>  
</footer>