<footer class="mt5 mb4 pa2 flex" id="vp-footer">
  <div class="w-100">
    <div class="flex flex-column">
      <div class="flex">
        <div class="flex items-center">
          <a href="{{ "/" | relative_url}}">
            <img class="br-100 pa1 ba b--black-10 h3 w3 mw3 mh3" 
              src="{{site.baseurl }}/{{ site.vaporwave.profile_image }}"
              alt="{{ site.vaporwave.name }}">
          </a>
        </div>
        <div class="flex flex-column">
          <div class="w-100">
            <h2 class="mv0">
              <a href="{{ "/" | relative_url }}">{{ site.vaporwave.name }}</a>
            </h2>
          </div>
          <div class="w-100 mt2">
            <p class="ma0">{{ site.vaporwave.tagline }}</p>
          </div>
          <div class="w-100 mt3">
            {%- include social.html -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>