<!--
<div class="flex flex-column ba b--light-purple vh-25 br4">
  <div class="w-100">
  </div>
</div>
-->
{% if site.vaporwave.search %}
<header>
  <div>
    <a class="link purple ma1" href="{{ "/" | relative_url}}">home</a>
    <a class="link purple ma1" href="{{ "/about" | relative_url }}">about</a>
  </div>
  <div class="ba br4 mt3 mb5">
    <div class="posts-labelgroup" id="posts-labelgroup">
      <div class="search-container">
        <div class="search-section">
          <i class="icon-search"></i>
          <input type="text" name="search" id="searchbar" autocomplete="off" aria-label="search in posts">
        </div>
        <div class="search-results" id="search-results" data-placeholder="No Results" style="display: none;"></div>
      </div>
    </div>
    <div id="posts-label"></div>
  </div>
</header>
{% endif %}