html, body {
    min-height: 100%;
}

h1, h2 {
    color: $colorFont-1;
}

h3, h4 {
    color: $colorFont-2;
}

a {
    color: $colorLink;
    text-decoration: none;
    :visited {
        color: $colorLinkVisited;
    }
}

#vp-bg-border {
    background-color: $colorBackgroundBorder;
    background: linear-gradient(
            0deg, 
            $colorBackgroundBorder-1 0%, 
            $colorBackgroundBorder-2 35%, 
            $colorBackgroundBorder-3 100%
        );
    padding: 1.5rem;
}

#vp-bg {
    background-color: $colorBackground;
}

#vp-footer {
    a {
        color: $colorFont-1;
        :visited {
            color: $colorFont-1;
        }
    }
}

article {
    line-height: normal;
}

article h2,
article h3,
article h4 {
    margin-block-end: 0.25em;
}

article p {
    margin-block-start: 0.5em;
}

article li {
    margin-top: 0.5em;
    margin-bottom: 0.7em;
}

article a {
    overflow: hidden;
}
article ul {
    padding-inline-start: 20px;
}