<!DOCTYPE html>
<html lang="{{ site.vaporwave.html_lang }}">

<head>
  {%- include head.html -%}
</head>

<body>
  <main class="container">
    <section class="about">
      <a href="{{ "/" | relative_url}}"><img src="{{site.baseurl }}/{{ site.vaporwave.profile_image }}" alt="{{ site.vaporwave.name }}"></a>
      <h2 id="title">
        <a href="{{ "/" | relative_url }}">{{ site.vaporwave.name }}</a>
      </h2>
      <p class="tagline">{{ site.vaporwave.tagline }}</p>
      <ul class="social">
        {%- if site.vaporwave.social_links.github -%}
        <a href="https://github.com/{{ site.vaporwave.social_links.github }}" target="_blank">
          <li>
            <i class="icon-github-squared"></i>
          </li>
        </a>
        {%- endif -%}
		    {%- if site.vaporwave.social_links.gitlab -%}
        <a href="https://gitlab.com/{{ site.vaporwave.social_links.gitlab }}" target="_blank">
          <li>
            <i class="icon-gitlab"></i>
          </li>
        </a>
        {%- endif -%}
        {%- if site.vaporwave.social_links.linkedIn -%}
        <a href="https://www.linkedin.com/{{ site.vaporwave.social_links.linkedIn }}" target="_blank">
          <li>
            <i class="icon-linkedin-squared"></i>
          </li>
        </a>
        {%- endif -%}
        {%- if site.vaporwave.social_links.twitter -%}
        <a href="https://twitter.com/{{ site.vaporwave.social_links.twitter }}" target="_blank">
          <li>
            <i class="icon-twitter-squared"></i>
          </li>
        </a>
        {%- endif -%}
        {%- if site.vaporwave.social_links.facebook -%}
        <a href="https://facebook.com/{{ site.vaporwave.social_links.facebook }}" target="_blank">
          <li>
            <i class="icon-facebook-official"></i>
          </li>
        </a>
        {%- endif -%}
        {%- if site.vaporwave.social_links.youtube -%}
        <a href="https://youtube.com/{{ site.vaporwave.social_links.youtube }}" target="_blank">
          <li>
            <i class="icon-youtube-play"></i>
          </li>
        </a>
        {%- endif -%}
        {%- if site.vaporwave.social_links.instagram -%}
        <a href="https://instagram.com/{{ site.vaporwave.social_links.instagram }}" target="_blank">
          <li>
            <i class="icon-instagram"></i>
          </li>
        </a>
        {%- endif -%}
        {%- if site.vaporwave.social_links.flickr -%}
        <a href="https://flickr.com/{{ site.vaporwave.social_links.flickr }}" target="_blank">
          <li>
            <i class="icon-flickr"></i>
          </li>
        </a>
        {%- endif -%}
      </ul>
      {%- if site.vaporwave.navigation -%}
      <nav class="navigation">
        <ul>
          {% for link in site.vaporwave.navigation %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      {%- endif -%}
      <p>&copy; {{ "now" | date: "%Y" }}</p>
    </section>

    <section class="content">
      {{ content }}
    </section>
  </main>

  {%- if site.vaporwave.analytics_id -%}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.vaporwave.analytics_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.vaporwave.analytics_id }}');
  </script>
  {%- endif -%}

  {% if site.vaporwave.search %}
  <script src="{{ "/assets/js/simple-jekyll-search.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/search.js" | relative_url }}"></script>
  {% endif %}

</body>

</html>