---
layout: default
---

<h1 class="page-heading mb4">{{ site.title }}</h1>

{%- if site.posts.size > 0 -%}
  <ul class="posts list pl0">
    {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
        <div class="post-meta">
          <div class="post-date light-purple">
            {{ post.date | date: "%Y.%m.%d" }}
          </div>
          <!-- {%- if post.categories.size > 0-%}
          <ul class="post-categories">
            {%- for tag in post.categories -%}
            <li>{{ tag }}</li>
            {%- endfor -%}
          </ul>
          {%- endif -%} -->
        </div>
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h2 class="post-title dim mt1 mb4">{{ post.title | escape }}</h2>
        </a>
        <div class="post">
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div>
      </li>
    {%- endfor -%}
  </ul>

  <!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}