$colorBackgroundBorder: #0A090D;
$colorBackgroundBorder-1: rgba(2,0,36,1);
$colorBackgroundBorder-2: rgba(9,9,121,1);
$colorBackgroundBorder-3: rgba(0,212,255,1);

$colorBackground: #FFFFFF;

$colorFont: #FFFFFF;
$colorFontH1: #A511A5;
$colorFontH2: #A511A5;
$colorFontH3: #7924B8;
$colorFontH4: #7924B8;

$colorLink: #2D76B8;
$colorLinkVisited: #7924B8;