$colorBackgroundBorder: #0A090D;
$colorBackgroundContent: #FFFFFF;

$colorFont: #FFFFFF;
$colorFontH1: #A511A5;
$colorFontH2: #A511A5;
$colorFontH3: #7924B8;
$colorFontH4: #7924B8;

$colorLink: #2D76B8;
$colorLinkVisited: #7924B8;