$colorBackgroundBorder: #0A090D;
$colorBackgroundBorder-1: #0A090D;
$colorBackgroundBorder-2: #5D1B85;
$colorBackgroundBorder-3: #A511A5;
// $colorBackgroundBorder-1: rgba(2,0,36,1);
// $colorBackgroundBorder-2: rgba(9,9,121,1);
// $colorBackgroundBorder-3: rgba(0,212,255,1);

$colorBackground: #FFFFFF;

$colorFont: #0A090D;
$colorFont-1: #5D1B85;
$colorFont-2: #7924B8;

$colorLink: #2D76B8;
$colorLinkVisited: #7924B8;