$colorBackgroundBorder: #7AE6B3;
$colorBackgroundContent: #FFFFFF;

$colorFont: #FFFFFF;
$colorFontH1: #F080F2;
$colorFontH2: #F080F2;
$colorFontH3: #CC94F2;
$colorFontH4: #CC94F2;

$colorLink: #5AD8E6;
$colorLinkVisited: #CC94F2;